@import "fonts.ge.scss";

p{
	font-family: $helvetica;
}
h3,
h4{
	font-family: $panton;
}
h6{
	font-family: $helvetica;
}
.down-header{
	nav.row{
		a{
			font-family: $panton;
			padding-top: 12px;
		}
	}
}
.up-header{
	ul.row{
		li{
			a{
				font-family: $panton;
			}
		}
		li.header-info{
			div.row{
				img{
				}
				.call{
					span{
						font-family: $helvetica;
					}
				}
			}
		}
	}
}
.news{
	.col-md-3{
		h5{
			font-family: $panton;
		}
	}
	.head{
		a{
			font-family: $helvetica;
		}
	}
}
.row{
	.col-2{
		ul{
			li{
				font-family: $panton;
			}
		}
	}
	.col-10{
		a{
			font-family: $panton;
		}
	}
}
.abs{
	font-family: $panton;
}

.sub-footer{
	.col-md-8{
		span{
			font-family: $panton;
		}
	}
}
.joinUs{
	span{
		font-family: $panton;
	}
}
.nav-container{
	a{
		font-family: $panton;
	}
}
.school-title{
	.col-md-3{
		span{
			font-family: $helvetica;
		}
	}
}
.menu{
	ul{
		li{
			a{
				font-family: $helvetica;
			}
		}
		li.menu-title{
			a{
				font-family: $panton;
			}
		}
	}
}
.teacher-item{
	span{
		font-family: $panton;
	}
	a.sponsor{
		font-family: $helvetica;
	}
	.col-md-10{
		span.squad-name{
			font-family: $panton;
		}
		span.date{
			font-family: $helvetica;
		}
	}
	.col-md-2{
		a{
			font-family: $panton;
		}
	}
}
.registration{
	span{
		font-family: $panton;
	}

}
.squad-name{
	font-family: $panton;
}
label,
input[type=submit]{
	font-family: $panton;
}
input{
	font-family: $helvetica;
}
.eat-item{
	span{
		font-family: $helvetica;
	}
	.eat-file{
		a{
			font-family: $panton;
		}
	}
}
.pay{
	ul{
		li{
			font-family: $helvetica;
		}
		li.pay-title{
			font-family: $panton;
		}
	}
}
.links{
	span{
		font-family: $panton;
	}
	a{
		font-family: $helvetica;
	}
	a.link-download{
		font-family: $panton;
	}
}
.calendar-cont{
	span{
		font-family: $panton;
	}
	.cal-item{
		.date{
			ul{
				li{
					font-family: $panton;
				}
			}
		}
		.cal-info{
			a{
				font-family: $panton;
			}
		}
	}
}
a.seemore{
	font-family: $helvetica;
}
.school-rules{
	.rule-item{
		span{
			font-family: $panton;
		}
		a{
			font-family: $panton;
		}
	}
}
.text{
	span{
		font-family: $helvetica;
	}
	a.link-download{
		font-family: $panton;
	}
}
.tx-cont{
	font-family: $panton;
}
.sch-rek{
	font-family: $helvetica;
}
.bank-ang{
	font-family: $panton;
}
.contact-info{
	input, textarea{
		font-family: $helvetica;
	}
}
.text{
	ul{
		li{
			font-family: $helvetica;
		}
	}
}